In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
data = boston["data"]

In [5]:
feature_names = boston["feature_names"]
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [6]:
target = boston["target"]
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [19]:
X = pd.DataFrame(data, columns = feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [20]:
Y = pd.DataFrame(target, columns = ["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [9]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 42)

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [12]:
lr.fit(X_train, Y_train)

LinearRegression()

In [13]:
Y_pred = lr.predict(X_test)
Y_pred.shape

(152, 1)

In [15]:
check_test = pd.DataFrame({
 "Y_test": Y_test["price"],
 "Y_pred": Y_pred.flatten(),
})
check_test.head()

     Y_test     Y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [18]:
from sklearn.metrics import r2_score
r2_score_1 = r2_score(check_test["Y_pred"], check_test["Y_test"])
r2_score_1

0.6693702691495639

In [22]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
arg = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [25]:
arg.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [26]:
Y_pred = arg.predict(X_test)
Y_pred.shape

(152,)

In [27]:
check_test = pd.DataFrame({
 "Y_test": Y_test["price"],
 "Y_pred": Y_pred.flatten(),
})
check_test.head()

     Y_test     Y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521

In [29]:
r2_score_2 = r2_score(check_test["Y_pred"], check_test["Y_test"])
r2_score_2

0.8479049999699443

In [35]:
r2_score_1 > r2_score_2

False

In [33]:
print (r2_score_1, r2_score_2)

0.6693702691495639 0.8479049999699443

In [34]:
# В RandomForestRegressor более точные результаты, чем в LinearRegression